@media (min-width: 769px){
  .toggle-button{
    display: none;
  }
}
@media screen and (min-width : 0px) and (max-width : 769px){
.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box; 
  position: absolute;
  z-index: 100;
  margin: 10px 10px; 
}
.toggle-button:focus{
  outline: none;
}
.toggle-button_line{
  width: 30px;
  height: 3px;
  background:#ffffff;
  margin-left: 20px;
}
.toggle-button_line>p{
  left: 10px;
  top: 10px;
  font-weight: 800;
  color: #ffffff;

}
}

